:root{
  --formInputTextSize: 18px
}

*{
  padding: 0;
  margin: 0;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.light-theme {
  background-color: #ffffff;
  color: #333333;
}
.dark-theme {
  background-color: #333333; 
  color: #ffffff; 
}

